@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}


.datatype-font {
  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.img-circle {
  clip-path: circle(closest-side at 50% 50%);
  width: 100px;
}

.img-about {
  width: 25%;
}

.resume-div {
    /* Define the original size, e.g., 800px x 600px */
    width: 100vw;
    transform: scale(0.5); /* Scale down by 50% */
    transform-origin: top left; /* Scale from the top-left corner */
}

/* 00bc7d - hex code for emerald-500 */